@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 3% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu_link {
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}


.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;

}

.apresentacao__texto {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 40px;
}

.apresentacao__texto__titulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 56px;
}

.titulo__destaque {
    color: var(--cor-terciaria);
}


.apresentacao__texto__paragrafo {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 36px;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.apresentacao__links_botao {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    padding: 16px 0px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.apresentacao__links_botao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 50%;
}


.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    padding: 24px 0px;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10% 5%;
    }

    .cabecalho__menu{
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__texto {
        width: auto;
    }

}
